
.center {
	text-align: center;
	padding-top: 10vh;
	margin-left: 5vw;
	margin-right: 5vw;
}

.header {
	color: white;
	font-family: 'Tangerine', cursive;
	font-size: 12vmin;
	text-shadow: 2px 2px 6px #000000;
}

.handwriting {
	color: white;
	font-family: 'Tangerine', cursive;
	font-size: 10vmin;
	text-shadow: 2px 2px 6px #000000;
}

.text {
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 4vmin;
	text-shadow: 1px 1px 3px #000000;
}

.warn {
	color: #dfff80;
	font-size: 5vmin;
	font-weight: 700;
}

.big {
	font-size: 4.5vmin;
	font-weight: 700;
}

b .bold {
	font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
	height: 100vh;
	background-image: url(img/corner1.png), url(img/corner2.png), url(img/bg2.jpg);  
	background-position: bottom left, top right, center;
	background-repeat: no-repeat, no-repeat, repeat;
	background-size: 557px 284px, 388px 380px, contain;
	background-attachment: fixed, fixed, local; 
}
html { height: 100% }

img {
	border-radius: 10%;
	width: 80vmin;
}

a:link {
  color: #b5c7ff;
}

a:visited {
  color: #d3c5fc;
}

a:hover {
  color: #dae1f7;
}

a:active {
  color: #dae1f7;
}
